[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
h5py = '*'
matplotlib = '*'
scipy = "*"
scikit-image = "*"
scikit-learn = "*"
cytoolz = "*"
tqdm = "*"
statsmodels = "*"
numpy = "*"
joblib = "*"
click = "*"

[requires]
python_version = "3.6"
