[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
opencv-python = '*'
h5py = '*'
tqdm = "*"
scipy = "*"
numpy = "*"
click = "*"
joblib = "*"
cytoolz = "*"
matplotlib = '*'
statsmodels = "*"
scikit-image = "*"
scikit-learn = "*"
ruamel_yaml = '*'

[requires]
python_version = "3.6"
